body {
    background-color: #333333;
  }
  
  
  
  .container {
    min-width: 2678px;
    padding: 70px 36px 0 92px;
  }
  
  h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  .flex{
    display: flex;
  }



  /* categories */
  .categories {
    display: inline-block;
    background-color: white;
    padding: 24px 31px 98px 30px;
    border-radius: 10px;
    width: 113px;
    height: 195px;
}
  .categories h3{
    margin-bottom: 20px;
  }
  .category label{
    margin-left: 9px;
  }
  .category:not(:last-child){
    margin-bottom: 20px;
  }
  .customCheckbox{
    opacity: 0;
  }
  .customCheckbox + label{
    cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  position: relative;
  }
  .customCheckbox + label:before {
    content: '';
    position: absolute;
    left: -25px;
    border: 1px solid #999999;
    border-radius: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: none;
    margin-right: 4px;
  }
  .customCheckbox:checked + label:before {
    content: '';
    background: url('/img/Rectangle 99.png') no-repeat center;
    border: 1px solid #CCB26E;
  }
  .customCheckbox:disabled + label:before {
    content: '';
    background: none;
  }


  /* Selevt */
  
.choise{
  width: 176px;
  margin-left: 58px;
  margin-right: 58px;
}

.choices{
  border-radius: 10px;
}
.select{
  margin-bottom: 50px;
}

.choices__inner{
  min-height: 0; 
  padding: 10px 15px !important;
  border-radius: 10px !important;
  border: 1px solid #CCB26E !important;
  z-index: 4;
  position: relative;
  width: 86%;
}

.choices__inner::after{
  content: "";
  width: 8px;
  height: 8px;
  border-left: 1px solid #666666;
  border-top: 1px solid #666666;
  position: absolute;
  right: 15px;
  top: 12px;
  transform: rotate(225deg);
}

.is-open .choices__inner::after{
  transform: rotate(45deg);
  top: 16px;
  border-color: #CCB26E;
}


.choices[data-type*=select-one]::after{
  display: none !important;
}

.choices__list--single{
  border-radius: 10px;
}

.choices__placeholder{
  padding: 10px 15px !important;
  border-radius: 10px;
}

.choices__list{
  padding: 0;
  width: 86%;
}


.choices__list--dropdown{
  padding: 36px 15px 33px;
    height: 180px;
    border: 1px solid rgb(204, 178, 110) !important;
    margin-top: -16px !important;
    border-radius: 10px !important;
}

.choices__item{
  padding: 0 !important;
  margin-bottom: 20px;
  color: #333333;
  opacity: 1 !important;
}

.choices__item:last-child{
  margin-bottom: 0;
}

.choices__item:nth-last-child(2){
  margin-bottom: 20px;
}


.choices__item--selectable.is-highlighted::after{
  display: none !important;     
}


.choices__item--disabled{
  display: none !important;
}


  .customScroll{
    width: 296px;
    height: 181px;
    background: white;
    padding: 20px 30px;
    margin-left: 58px;
  }
  .simplebar-content-wrapper {
    overflow: auto;
  }
  .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background-color: #CCB26E;
}

/* form */
.form1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 58px;
  background: rgba(0, 0, 0, 0.4);
  padding: 53px 34px 40px 22px;
  border-radius: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   
  }
  .form__label {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 31px;
    height: 35px;
    width: 378px;
    padding-bottom: 31px;
}
  .input{
    width: 89%;
    border-radius: 10px;
    display: flex;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 24px;
    font-size: 16px;
    line-height: 32px;
  }
  .button{
    font-size: 16px;
    padding: 24px 20px;
    border-radius: 10px;
    width: 100%;
    background: #FF5C00;
    border-color: transparent;
  }
.btn{
  color: #FFFFFF;
}







.word{
  padding: 20px 80px 20px 30px;
  font-size: 14px;
  width: 227px;
  background: #FFFFFF;
  line-height: 1.7;
  margin-left: 58px;
  height: 127px;
}


.tooltip{
  position: relative;
  margin-top: -24px;
  margin-left: 240px;
}

.fa-sharp{
 color: gray;
 margin-left: -35px;
}



.poput{
  position: absolute;
  top: -160%;
  left: -98px;
  padding: 1px 10px;
  width: 131px;
  margin-top: 9px;
  background: gray;
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
}

 
.fa-sharp:hover + .poput,
.fa-sharp:hover + .poput{
  opacity: 1;
}
.poput::after{
  content: "";
  display: block;
  border-top: 7px solid gray;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 63px;
}
